<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>JobSecurity Hub - Homepage</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <body>
            <div class="header">
                <form>
                    <h1>JobSecurity Hub</h1>
                    <div class="form-box">
                        <input type="text" class="search-field title" placeholder="Job Title...">
                        <input type="text" class="search-field location" placeholder="Location...">
                        <button class="search-btn" type="button">Search</button>
                    </div>
                    <iconify-icon icon="material-symbols:lock"></iconify-icon>
                </form>






            </div>
        </body>
    </body>
</html>